.Contact-page {
    min-height: 100vh;
    overflow: hidden;
    color: black;
    background-color: #DCDBDF;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
.contact-header {
    text-align: center;
    margin-top: 10%;
    font-size: 4.5rem;
}

@media (max-width:768px) {
    .contact-header {    
      margin-top: 15vh;
    }
}

.contact-phone {
    text-align: center;
    font-size: 1.7rem;
}

.talk {
    color: orange;
}

/* Phone number */
.contact-phone {
    font-size: 1.3rem;
}

@media (max-width:370px) {
    .contact-phone {    
      font-size: 1.1rem;
    }
}

/* Image */
.image-container {
    position: relative;
}

.image-container img{
   position: absolute;
   width: 55%;
   margin-top: 30vh;
}

@media (max-width:1350px) {
    .image-container img{    
      top: 8vh;
    }
}

@media (max-width:1250px) {
    .image-container img{    
      top: 8vh;
    }
}

@media (max-width:800px) {
    .image-container img{    
      top: 20vh;
    }
}

@media (max-width:650px) {
    .image-container img{    
      display: none;
    }
}

/* email form */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40%;
    margin-top: 8%;
}

@media (max-width:1350px) {
    .form {    
      margin-top: 10%;
    }
}

@media (max-width:800px) {
    .form {    
      margin-top: 15%;
    }
}

@media (max-width:575px) {
    .form {    
      margin-top: 20%;
    }
}

@media (max-width:650px) {
    .form {    
      margin-top: 20%;
      margin-left: 4%;
    }
}

@media (max-width:435px) {
    .form {    
      margin-top: 27%;
      margin-left: 4%;
    }
}

input {
    width: 30vw;
    height: 32px;
    border: none;
    border-radius: 15px;
    outline: none;
}

@media (max-width:650px) {
    input {    
      width: 65vw;
    }
}

.message-area {
    width: 30vw;
    height: 10vh;
    border: none;
    border-radius: 15px;
    outline: none;
    resize: none;
}

@media (max-width:650px) {
    .message-area {    
      width: 65vw;
    }
}

/* send button */
.send-btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 10%;
    width: 30vw;
    height: 40px;
    line-height: 50px;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .3s;
    background-color: white;
}

.send-btn:hover {
    box-shadow:  0 6px 5px rgba(255, 165, 0);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-words {
    position: relative;
    bottom: 12%;
    color: black;
}



@media (max-width:650px) {
    .send-btn {    
      width: 65vw;
    }
}

/* web links */

