.Home-page {
    color: rgb(76, 73, 73);
}

.picture-vh {
    min-height: 85vh;
}

/* name  */
.name {
    position: absolute;
    text-align: center;
    margin-top: 22%;
    font-size: 10vw;
    z-index: 99;
    width: 100%;
}

.first {
    margin-right: 1rem;
}

.n {
    color: orange;
}

.t {
    color: orange;
}

/* Image */
.home-style { 
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 670px) {
    .home-style {
        height: 50vh;
        position: absolute;
        top: -50%;
    }
}

.home-image {
  width: 100%;
  position: absolute;
  overflow: hidden;
}
/* down facing arrow */
.arrow-container {
 position: absolute;
 display: flex;
 flex-direction: column;
 left: 80%;
}

@media (min-width: 850px) {
    .word-above-arrow {
        font-size: 10rem;
    }
}

.down-arrow {
    font-size: 3.5rem;
    color: transparent;
    stroke: rgb(76, 73, 73);
    stroke-width: 25px;   
    margin-left: 20%;
    margin-top: 5%;
}

.word-above-arrow {
 color: orange;
 font-size: 1.5rem;
}

/* second part of page */
/* portfolio section */
.portfolio {
    height: 75vh;
    margin-top: 45%;
    background: silver;
}

.portfolio-words {
    font-size: 2rem;
    color: black;
}




