.Home-page {
    color: #2B333D;
    
}

.picture-vh {
    min-height: 85vh;
}

/* name  */
.name {
    position: absolute;
    text-align: center;
    margin-top: 22%;
    font-size: 10vw;
    z-index: 99;
    width: 100%;
}

.first {
    margin-right: 1rem;
}

.n {
    color: orange;
}

.t {
    color: orange;
}

/* Image */
.home-style { 
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 670px) {
    .home-style {
        height: 50vh;
        position: absolute;
        top: -50%;
    }
}

.home-image {
  width: 100%;
  position: absolute;
  overflow: hidden;
}
/* down facing arrow */
.arrow-container {
 position: absolute;
 display: flex;
 flex-direction: column;
 left: 75%;
}

@media (max-width: 850px) {
    .word-above-arrow {
        font-size: 10rem;
    }
}

@media (max-width: 425px) {
    .arrow-container {
       left: 65%;
       bottom: 15%;
    }
}

.down-arrow {
    font-size: 3.5rem;
    color: transparent;
    stroke: #2B333D;
    stroke-width: 25px;   
    margin-left: 20%;
    margin-top: 5%;
}

.word-above-arrow {
 color: orange;
 font-size: 1.5rem;
}

/* second part of page */
/* portfolio section */
.part2 {
    height: 180vh;
    margin-top: 45%;
}

.portfolio-words {
    font-size: 2.5rem;
    color: #181818;
    font-weight: bold;
    text-align: center;
}

.iframe-square {
    width: 41%;
    height: 30%;
    margin-left: 40%;
    margin-top: 6%;
    margin-bottom: 8%;
    color: #ffa812;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
 
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.security-image{
    position: absolute;
    width: 30vw;
    height: 30vh;
    left: -45%;
    top: 20%;
}

@media (max-width: 700px) {
    .iframe-square {
        width: 50%;
        margin-left: 40%;
        margin-top: 15%;
    }
}

@media (max-width: 450px) {
    .iframe-square {
        margin-top: 20%;
    }
}

@media (max-width: 575px) {
    .security-image {
        width: 50vw;
        left: -65%;
    }
}

/* text in ifame-square */
.first-iframe-header {
    font-size: 2.5rem;
    padding-top: 15vh;
    margin-left: 30%;
}

.second-iframe-header {
    font-size: 2.5rem;
    padding-top: 20%;
    margin-left: 30%;
}

.iframe-text {
    font-size: 1.3rem;
    margin-left: 30%;
}

.iframe-link {
    font-size: 2.5rem;
    margin-left: 25%;
    margin-top: 5%;
}

@media (max-width: 1305px) {
    .iframe-text {
        font-size: 1rem;
    }
    .iframe-link {
        font-size: 2rem;
    }
    .first-iframe-header, .second-iframe-header {
        font-size: 2rem;
    }

}

@media (max-width: 1010px) {
    .second-iframe-header {
        padding-top: 35%;
    }
    .iframe-text {
        font-size: 0.7rem;
    } .portfolio-words {
        font-size: 2rem;
    }
}

@media (max-width: 818px) {
    .second-iframe-header {
        padding-top: 45%;
    }
}

@media (max-width: 555px) {
    .iframe-text {
        display: none;
    }
    .iframe-link {
        font-size: 1.5rem;
    }
    .first-iframe-header, .second-iframe-header {
        font-size: 1.5rem;
    } .portfolio-words {
        font-size: 1.2;
    }
}

@media (max-width: 555px) {
    .second-iframe-header {
        padding-top: 60%;
    }
}

@media (max-width: 400px) {
    .second-iframe-header {
        padding-top: 110%;
    } .portfolio-words {
        font-size: 1.5rem;
    }
}

@media (max-width: 370px) {
    .second-iframe-header {
        padding-top:50%;
    }
}