@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
* {
    font-family: 'Merienda', cursive;
} 

.Intro-page {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    min-height: 100vh;
    color: #2B333D;
    overflow: hidden;
    background-image: url("../Images/forest.jpg");
    content: '';
    position: fixed;
    top: 0;
    left: 0;
	width: 100vw;
	height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Photo */
.image-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 5%;
}

.Me-photo {
    width: 38vw;
    transition: 0.5s ease-in-out;  
    background-image: url("../Images/forest2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

@media (max-width:1450px) {
    .image-box{    
      top: 3%;
    } .Me-photo {
        width: 42vw;
    }
}

@media (max-width:1150px) {
    .image-box{    
      top: 17%;
    } .Me-photo {
        width: 48vw;
    }
}

@media (max-width:1075px) {
    .image-box{    
        top: 20%;
      } .Me-photo {
          width: 50vw;
      }
}

@media (max-width:900px) {
    .image-box{    
        top: 24%;
      } .Me-photo {
          width: 53vw;
      }
}

@media (max-width:750px) {
    .image-box{    
        top: 27%;
      } .Me-photo {
          width: 56vw;
      }
}


@media (max-width:675px) {
    .image-box{    
        top: 30%;
      } .Me-photo {
          width: 60vw;
      }
}

@media (max-width:475px) {
    .image-box{    
        top: 32%;
      } .Me-photo {
          width: 75vw;
      }
}

@media (max-width:320px) {
    .image-box{    
        top: 25%;
      } .Me-photo {
          width: 80vw;
      }
}

/* text on left of screen */
.remark-box {
    position: absolute;
    max-width: 30vw;
    top: 25%;
    left: 5%; 
}

.remark {
    font-size: 3vw;
    font-weight: 200;
    text-decoration: none;
    color: #2B333D;
}

@media (max-width:850px) {
    .remark-box {    
        top: 20%;
        font-size: 4.5vw;
    } .remark {
        font-size: 3vw;
    }
}

@media (max-width:675px) {
        .remark-box {    
            top: 10%;
            left: 35%;
            max-width: 45vw;
        }
        .remark {
            font-size: 5vw;
        }
}

@media (max-width:575px) {
        .remark-box {    
            top: 10%;
            left: 35%;
            max-width: 45vw;
        }
        .remark {
            font-size: 6vw;
        }
}

.dev-word {
    text-decoration: underline solid darkorange;
}

/* react arrow icon */
.intro-icon {
    margin-left: 3%;
    margin-top: 15px;
    text-decoration: none;
    color: #2B333D;
    
}

@media (max-width:675px) {
    .intro-icon {    
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        margin-left: 25%;
    }
}








