@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
* {
    font-family: 'Merienda', cursive;
} 

.Intro-page {
    min-height: 100vh;
    color: black;
    overflow: hidden;
}

/* Photo */

.image-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.image-wrapper {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.Image {
    width: 38vw;
    transition: 0.5s ease-in-out;
}

@media (max-width:1075px) {
    .Image {    
      width: 48vw;
    }
}


@media (max-width:900px) {
    .Image {    
      width: 55vw;
    }
}

@media (max-width:750px) {
    .Image {    
      width: 65vw;
    }
}


@media (max-width:675px) {
    .Image {    
      width: 75vw;
      margin-top: 7vh;
    }
}

@media (max-width:475px) {
    .Image {    
      width: 95vw;
    }
}


.Image:hover {
   transform: scale(1.1);
}

/* text on left of screen */
.remark-box {
    position: absolute;
    max-width: 30vw;
    top: 25%;
    left: 5%;
}

.remark {
    font-size: 2vw;
    font-weight: 800;
}

.code {
    color: orange;
}

@media (max-width:850px) {
    .remark-box {    
        top: 20%;
    }
}

@media (max-width:600px) {
        .remark-box {    
            top: 18%;
        }
}

@media (max-width:575px) {
        .remark-box {    
            top: 10%;
            left: 30%;
            max-width: 45vw;
        }
        .remark {
            font-size: 4vw;
        }
}

/* details under photo */
.details {
 margin-top: 1rem;
 font-size: 1.1vw;
 text-transform: lowercase;
}

.span2 {
   margin-left: 2rem;
}

@media (max-width:1289px) {
    .details {
        margin-top: .8rem;
    }
}

@media (max-width:870px) {
    .details {
        margin-top: .5rem;
        font-size: 2vw;
    }
}

@media (max-width:600px) {
    .span2 {
        margin-left: 0.5rem;
    }
}

@media (max-width:500px) {
    .details {
        margin-top: .2rem;
        font-size: 3vw;
    }
}

/* Arrow */







